<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  
  <appSettings>
    <!-- The name of this job -->
    <add key="JobName" value="Lowes US 2020 Patio Blocks"/>
    
    <!-- The path to the job file root -->
    <add key="JobRoot" 
         value="\\UIMEFS0002\AraxiVolume_200xxx\Jobs\Lowes US 2020 Patio Blocks\UserDefinedFolders\Patch Areas\OVDA"/>
    
    <!-- File names for job data files -->
    <add key="BlocksFilename" value=".\data\Blocks.xlsx"/>
    <add key="StoresFilename" value=".\data\Stores.xlsx"/>
    <add key="FlexCelTemplateName" value=".\template\PatchReport.xlsx"/>
    <add key="FlexCelOutputName" value=".\out_reports\PageCount.xlsx"/>
    <add key="ReportPath" value=".\out_reports"/>
    <add key="JsxBlockDataPath" value=".\jsx\BlockData.jsx"/>
    
    <!-- Max count of products that can appear on each page of the scanbook -->
    <add key="CellsPerPage" value="4"/>

    <!-- Column indices for patch workbook -->
    <add key="PatchIndex" value="1"/>
    <add key="SectionIndex" value="2"/>
    <add key="PageOrderIndex" value="3"/>
    <add key="ItemTypeIndex" value="4"/>
    <add key="ItemIndex" value="5"/>
    <add key="VendorIndex" value="6"/>
    <add key="DescriptionIndex" value="7"/>
    <add key="PalletQtyIndex" value="8"/>
    <add key="UpcIndex" value="9"/>
    <add key="PatioBloxFactoryPath" value="\\Storage2\AraxiVolume_1183xx\Factory\Lowes\PatioBlox"/>

    <!-- Column indices for store list workbook -->
    <add key="PatchAreaIndex" value="7"/>
    <add key="StoreIdIndex" value="1"/>
    <add key="CopiesPerStore" value="12"/>

  </appSettings>
</configuration>