<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PatioBlox.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PatioBlox.Domain.Properties.Settings>
            <setting name="FactoryRootPath" serializeAs="String">
                <value>F:\Lowes\Patio Blocks 2014\factory</value>
            </setting>
            <setting name="SubpathSupport" serializeAs="String">
                <value>support</value>
            </setting>
            <setting name="SubpathData" serializeAs="String">
                <value>data</value>
            </setting>
            <setting name="SubPathReport" serializeAs="String">
                <value>report</value>
            </setting>
            <setting name="SubpathJsx" serializeAs="String">
                <value>jsx</value>
            </setting>
        </PatioBlox.Domain.Properties.Settings>
    </userSettings>
</configuration>