<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PatioBlox.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PatioBlox.Domain.Properties.Settings>
            <setting name="FactoryRootPath" serializeAs="String">
                <value>\\SAN\AraxiVolume_InSiteJobs\Jobs\Lowes US 2014 Patio Blocks\UserDefinedFolders\PatchAreas\factory</value>
            </setting>
            <setting name="SubpathSupport" serializeAs="String">
                <value>support</value>
            </setting>
            <setting name="SubpathData" serializeAs="String">
                <value>data</value>
            </setting>
            <setting name="SubPathReport" serializeAs="String">
                <value>report</value>
            </setting>
            <setting name="SubpathJsx" serializeAs="String">
                <value>jsx</value>
            </setting>
            <setting name="SubPathTemplateSlot" serializeAs="String">
                <value>template\slot</value>
            </setting>
            <setting name="SubPathTemplateComposite" serializeAs="String">
                <value>template\composite</value>
            </setting>
            <setting name="SubPathOutputSlotIndd" serializeAs="String">
                <value>output\slot\indd</value>
            </setting>
            <setting name="SubPathOutputSlotPdf" serializeAs="String">
                <value>output\slot\pdf</value>
            </setting>
            <setting name="SubPathOutputCompositeIndd" serializeAs="String">
                <value>output\composite\indd</value>
            </setting>
            <setting name="SubPathOutputCompositePdf" serializeAs="String">
                <value>output\composite\pdf</value>
            </setting>
            <setting name="JobFoldersFileName" serializeAs="String">
                <value>JobFolders.jsx</value>
            </setting>
            <setting name="ProductDataFileName" serializeAs="String">
                <value>ProductData.jsx</value>
            </setting>
            <setting name="PatchDataFileName" serializeAs="String">
                <value>PatchData.jsx</value>
            </setting>
            <setting name="SearchColumnIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ItemColumnName" serializeAs="String">
                <value>Item #</value>
            </setting>
            <setting name="DescriptionColumnName" serializeAs="String">
                <value>Description</value>
            </setting>
            <setting name="PalletQtyColumnName" serializeAs="String">
                <value>Pallet Qty. (If applicable)</value>
            </setting>
            <setting name="BarcodeColumnName" serializeAs="String">
                <value>Barcode</value>
            </setting>
            <setting name="SectionColumnName" serializeAs="String">
                <value>Scanbook Section</value>
            </setting>
        </PatioBlox.Domain.Properties.Settings>
    </userSettings>
</configuration>