<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Max count of products that can appear on each page of the scanbook -->
    <add key="CellsPerPage" value="4"/>

    <!-- Column indices for patch workbook -->
    <add key="SectionIndex" value="2"/>
    <add key="PageOrderIndex" value="3"/>
    <add key="ItemIndex" value="5"/>
    <add key="VendorIndex" value="6"/>
    <add key="DescriptionIndex" value="7"/>
    <add key="PalletQtyIndex" value="8"/>
    <add key="UpcIndex" value="9"/>
    <add key="PatioBloxFactoryPath" value="\\Storage2\AraxiVolume_1183xx\Factory\Lowes\PatioBlox"/>

    <!-- Column indices for store list workbook -->
    <add key="PatchAreaIndex" value="2"/>
    <add key="StoreIdIndex" value="1"/>
    <add key="CopiesPerStore" value="12"/>
  </appSettings>
</configuration>