<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PatioBlox2016.JobPrepUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <PatioBlox2016.JobPrepUI.Properties.Settings>
      <setting name="SectionIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ItemIndex" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DescriptionIndex" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="PalletQtyIndex" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="UpcIndex" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="CellsPerPage" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="PatioBloxFactoryPath" serializeAs="String">
        <value>C:\Users\gma\Factory\Lowes\PatioBlox</value>
      </setting>
      <setting name="PatchAreaIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="StoreIdIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CopiesPerStore" serializeAs="String">
        <value>12</value>
      </setting>
    </PatioBlox2016.JobPrepUI.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="PatioBloxConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\ProjectsV12; Initial Catalog=PatioBlox_Test; Integrated Security=true"/>

    <!--<add name="PatioBloxConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=Sql1; Initial Catalog=PatioBlox_Test; Integrated Security=true"/>-->
  </connectionStrings>
</configuration>